.search-bar {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 1em;
    background-color: white;
    border-radius: 15px;
    padding: 1em;
}

.search-bar input, .suggest-button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.search-results {
    display: flex;
    align-items: center;
    width: 600px;
    background-color: gray;
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
}

table {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}