.search-bar {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 1em;
    background-color: white;
    border-radius: 15px;
    padding: 1em;
}

.search-bar input, .suggest-button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.suggest-button:hover {
    background-color: rgb(81, 146, 202);
}

.search-results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    background-color: rgb(217, 223, 229);
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
}

.song-text {
    margin-left: 1em;
    flex: 1;
}

.suggest-button {
    margin-left: 1em;
    padding: 0.5em 1em;
}