.song-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.song-suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    background-color: rgb(217, 223, 229);
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
}

.song-text {
    margin-left: 1em;
    flex: 1;
}

.song-suggestion button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.song-suggestion button:hover {
    color: gray;
}

.song-suggestion button.liked {
    color: rgb(219, 4, 76);
}