.body {
    font-family: "Verdana", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
    color: rgb(49, 49, 49);
}

h1 {
    font-family: "Brush Script MT", cursive;
    font-size: xxx-large;
    margin: 0;
}

header {
    background-color: rgb(184, 222, 255);
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

menu {
    display: flex;
    gap: 2em;
    list-style: none;
    flex-direction: row;
}

menu li a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}

menu li a:hover {
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1em;
}

.login-form {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-form input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.login-form input:hover {
    background-color:rgb(164, 164, 164);
}

footer {
    background-color: rgb(217, 223, 229);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}